<p id="notice"><%= notice %></p>

<h1>Airline Operators</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @airline_operators.each do |airline_operator| %>
      <tr>
        <td><%= link_to 'Show', airline_operator %></td>
        <td><%= link_to 'Edit', edit_airline_operator_path(airline_operator) %></td>
        <td><%= link_to 'Destroy', airline_operator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Airline Operator', new_airline_operator_path %>
